[config]
version_check = false

[config.wallpaper]
command = "swww"
arguments = ["img", "--transition-type", "center"]
set = true

[templates.hyprland]
input_path = '~/.config/matugen/templates/hyprland-colors.conf'
output_path = '~/.cache/hypr_colors.conf'
post_hook = 'hyprctl reload'

[templates.alacritty]
input_path = '~/.config/matugen/templates/alacritty.toml'
output_path = '~/.cache/alacritty_colors.toml'

[templates.foot]
input_path = '~/.config/matugen/templates/foot.ini'
output_path = '~/.cache/foot_colors.ini'
post_hook = 'killall foot && sleep 1 && exec foot -s &'

[templates.rofi-spotlight]
input_path = '~/.config/matugen/templates/rofi-spotlight.rasi'
output_path = '~/.config/rofi/themes/spotlight-dark-matugen.rasi'

[templates.waybar]
input_path = '~/.config/matugen/templates/waybar-colors.css'
output_path = '~/.config/waybar/colors.css'
post_hook = 'killall -SIGUSR2 waybar'

#[templates.dunst]
#input_path = '~/.config/matugen/dunstrc-colors'
#output_path = '~/.config/dunst/dunstrc'
#post_hook = 'dunstctl reload'

[templates.swaync]
input_path = '~/.config/matugen/templates/swaync-colors.css'
output_path = '~/.config/swaync/colors.css'
post_hook = 'swaync-client --reload-css'

[templates.gtk3]
input_path = '~/.config/matugen/templates/gtk-colors.css'
output_path = '~/.config/gtk-3.0/gtk.css'

[templates.gtk4]
input_path = '~/.config/matugen/templates/gtk-colors.css'
output_path = '~/.config/gtk-4.0/gtk.css'
