@import "colors.css";

@define-color text #b1c8ef;
@define-color dwmwindowclass #9ece6a;

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
    font-weight: bold;
    border-radius: 0px;
    /* :[ */
    min-height: 0px;
}

window#waybar {
    background-color: @backgroundtransparent;
    color: @primary;
    opacity: 5;
}

#workspaces {
background-color: transparent;
}

#workspaces button {
padding: 0 5px;
background-color: transparent;
color: @on_surface;
/* border-color: #1a1b26; */
}

#workspaces button.active {
background-color: @on_secondary_fixed_varianta;
color: @on_secondary_container;
/* border-color: #7dcfff; */
}

#workspaces button.urgent {
background-color: @inverse_on_surface;
color: @error;
/* border-color: #6bb2c0; */
}
#workspaces button.persistent {
	color: @on_primary;
}
#workspaces button.persistent
#workspaces button.empty
#workspaces button.active {
background-color: @inverse_on_surface;
color: @primary;
  box-shadow: inherit;
  text-shadow: inherit;
	/* border-color: #6bb2c0; */
}

#battery
#tray,
#mpris,
#mpd,
#disk,
#mode,
#network.speed {
background-color: transparent;
color: @on_surface;
margin: 1px;
}


.modules-left {
    background-color: @transparent;
    padding: 0px 0px 0px 0px;
}

#window {
color: @primary;
background-color: @transparent;
padding-left: 4px;
}

.modules-right {
    background-color: @transparent;
    padding: 0px 0px 0px 0px;
}

#cpu {
	color: @on_tertiary_container;
	margin: 1px;
	padding-right: 8px;
	padding-left: 8px;
	border-right: 1px solid #b1c8ef;
	border-left: 1px solid #b1c8ef;
}

#memory {
	color: @primary_fixed;
	margin: 1px;
	padding-right: 8px;
	padding-left: 8px;
	border-right: 1px solid #b1c8ef;
}

#wireplumber {
	color: @on_error_container;
	margin: 1px;
	padding-right: 8px;
	padding-left: 8px;
	border-right: 1px solid #b1c8ef;
}

#battery {
	color: @on_tertiary_fixed_variant;
	margin: 1px;
	padding-right: 8px;
	padding-left: 8px;
	border-right: 1px solid #b1c8ef;
}

#clock {
	color: @on_secondary_container;
	margin: 1px;
	padding-right: 8px;
	padding-left: 8px;
	border-right: 1px solid #b1c8ef;
}

