@define-color cc-bg rgba(17, 20, 24, 0.8);
@define-color noti-border-color rgba(161, 201, 253, 0.8);
@define-color noti-bg rgba(17, 20, 24, 0.8);
@define-color noti-bg-opaque rgb(17, 20, 24);
@define-color noti-bg-darker rgb(17, 20, 24);
@define-color noti-bg-hover rgb(54, 57, 62);
@define-color noti-bg-hover-opaque rgb(54, 57, 62);
@define-color noti-bg-focus rgba(161, 201, 253, 0.6);
@define-color noti-close-bg rgba(25, 28, 32, 0.1);
@define-color noti-close-bg-hover rgba(25, 28, 32, 0.1);
@define-color text-color rgb(225, 226, 232);
@define-color text-color-disabled rgb(11, 14, 19);
@define-color bg-selected rgb(161, 201, 253);
